// Navigation Styles here

.nav-bar {
    .center ();
    border-bottom: 2px dashed silver;
    margin-top: 2rem;
    padding-bottom: 2rem;
    font-weight: bold;
    
   
         nav a{
         text-decoration: none;
         color: black;
         font-size: 1.6rem;
         padding-left: 2rem;
         padding-right: 2rem;
         }
}